body {
  background-image: url('/images/nza_background.jpg');
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  padding: 30px;
}

.title {
  font-weight: bold;
  margin: 5px 0px 0px 0px;
}

/********************* LEFT SIDEBAR *********************/
.left-sidebar {
  background-image: url('/images/nav_side_sub.jpg');
  background-size: cover;
  padding: 15px;
  color: #fff;
  /* margin-bottom: 20px; */
}

.left-sidebar h6 {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.left-sidebar ul {
  list-style-type: none;
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

.left-sidebar li {
  margin: 10px 0px;
}

.left-sidebar a {
  color: #fff;
}

.left-sidebar img {
  width: 100%;
}

/********************* MIDDLE CONTENT *********************/
.middle-content img {
  width: 100%;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .middle-content img {
    margin-top: 0px;
  }
}

.contact-text {
  margin-top: 20px;
}

.contact-text div {
  margin: 20px 0px;
}

.person-contact a {
  color: #000;
  text-decoration: underline;
}

/********************* RIGHT SIDEBAR *********************/
.right-sidebar {
  background-image: url('/images/other_links_background.jpg');
  background-size: cover;
  padding: 15px;
  color: #000;
}

.right-sidebar a {
  color: darkred;
}

.right-sidebar img {
  width: 100%;
}

.where-we-work {
  padding-bottom: 20px;;
}

.reputation a {
  color: #000
}