<div class="container">
    <div class="row">
        <div class="container-fluid">
            <ul>
                <li><a href="{{ url_for('about') }}">WHO WE ARE</a></li> <span class="footer_span">&mdash;</span>
                <li><a href="{{ url_for('services') }}">WHAT WE DO</a></li> <span class="footer_span">&mdash;</span>
                <li><a href="#">NEWS & EVENTS</a></li> <span class="footer_span">&mdash;</span>
                <li><a href="{{ url_for('location') }}">WHERE WE WORK</a></li> <span class="footer_span">&mdash;</span>
                <li><a href="{{ url_for('contact') }}">CONTACT US</a></li>
            </ul>
        </div>

        <p>&copy2020 Code Squad</p>
    </div>
</div>

