
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
      
      <footer>
        <hr class="footer_hr">
        <div class="container.fluid">
          <ul class="list-inline">
            <li><a href="whoweare.html">WHO WE ARE</a></li> <span class="footer_span">&mdash;</span>
            <li><a href="whatwedo.html">WHAT WE DO</a></li> <span class="footer_span">&mdash;</span>
            <li><a href="#">NEWS & EVENTS</a></li> <span class="footer_span">&mdash;</span>
            <li><a href="wherewework.html">WHERE WE WORK</a></li> <span class="footer_span">&mdash;</span>
            <li><a href="contactus.html">CONTACT US</a></li>
          </ul> 
        </div>  
        <br>
        <p class="copyright">&copy2020 Code Squad </p>
      </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>